<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.zzy.event.ac">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/> <!-- 允许使用网络 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!-- 允许读取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> <!-- 允许读取wifi网络状态 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> <!-- 允许接收开机广播 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!-- 允许读取SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 允许写入SD卡 -->
    <!-- SD卡写权限 -->
    <!-- 开机广播 -->
    <application
        android:name="com.zzy.def.base.APP"
        android:allowBackup="false"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,HardcodedDebugMode">
        <activity android:name=".MainActivity"/>
        <activity android:name=".Main2Activity"/>
        <activity android:name="com.zzy.retrofit.ac.RetrofitActivity"/>
        <activity android:name="com.zzy.butterkniffe.ac.ButterKniffeActivity"/>
        <activity android:name="com.zzy.okhttp.ac.OkhttpActivity"/>
        <activity android:name="com.zzy.zxing.ac.ZXingActivity">
        </activity>

        <!-- 静态注册广播接收器，接收开机广播 -->
        <!-- android:enabled="true"  表示是否开启这个广播接收器 -->
        <!-- android:exported="true" 表示是否允许这个广播接收器接收本程序以外的广播 -->
        <!-- android:priority="100"  有序广播优先级，优先级越高，会先收到广播 -->
        <receiver
            android:name="com.zzy.android.broadcast.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.zzy.broadcast1"/>
            </intent-filter>
        </receiver>
        <!-- 监听网络状态 -->
        <receiver android:name="com.zzy.def.broadcast.NetworkConnectChangedReceiver">
            <intent-filter>
                <action android:name="android.NET.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.Net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity android:name="com.zzy.android.broadcast.BroadcastActivity"/>
        <activity android:name="com.zzy.android.broadcast.LocalBroadcastActivity"/>
        <activity android:name="com.zzy.android.data_sqlite.SqliteActivity"/>

        <!-- android:enabled="true"  表示是否开启这个内容提供器 -->
        <!-- android:exported="true" 表示是否允许外部程序访问我们的内容提供器 -->
        <provider
            android:name="com.zzy.android.contentprovider.ContentProviderT"
            android:authorities="com.zzy.provider"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedContentProvider"/>
        <provider
            android:name="com.zzy.android.contentprovider.ContentProviderSP"
            android:authorities="com.zzy.provider.sharedpref"
            android:exported="true"
            tools:ignore="ExportedContentProvider"/>
        <provider
            android:name="com.zzy.android.contentprovider.ContentProviderDB"
            android:authorities="com.zzy.provider.db"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedContentProvider">
        </provider>

        <activity android:name="com.zzy.android.HandlerActivity">
        </activity>
        <activity android:name="com.zzy.android.fragment.FragmentActivity">
        </activity>
        <activity android:name="com.zzy.android.constraintlayout.ConstraintActivity">
        </activity>
        <activity android:name="com.zzy.android.recyclerview.RecyclerActivity">
        </activity>
        <activity android:name="com.zzy.android.viewpager.ViewPagerActivity">
        </activity>
        <activity android:name="com.zzy.android.materialdesign.DesignActivity">

        </activity>
        <activity android:name="com.zzy.android.materialdesign.DesignDetailActivity">
        </activity>
        <activity android:name="com.zzy.framework.mvc.MvcActivity">
        </activity>
        <activity android:name="com.zzy.framework.mvp.MvpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>